fastapi
uvicorn
duckduckgo-search
yfinance
pydantic>=2.0
pydantic-settings
requests
langgraph
langchain
langchain-community
beautifulsoup4
sqlalchemy
psycopg2-binary
asyncpg
pandas
textblob
python-dotenv
greenlet
ddgs
langchain-openai
langchain-core>=0.3.0
google-genai
pika
python-telegram-bot>=20.0